<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/animate.min.css">
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl.theme.default.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Home</title>

</head>
<body>
     
   
    <!-- Header -->
        <header>
            <!--  -->
            <section class="topBar">
                <div class="mwidth">
                    <div class="row pl-0 pr-0">
                        <div class="col-xl-12 ml-0 mr-0 pl-0 pr-0">
                            <div class="tb-left">
                                <ul>
                                    <li>
                                        <i class="fa fa-envelope"></i> <a href="mailto:help@research.com" class="">help@research.com</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i> Phone: <a href="" class="">+1 (895) 852–6523</a>
                                    </li>
                                    <li>
                                       <a href="" class="ml-2 op05"><i class="fa fa-facebook"></i></a>
                                       <a href="" class="ml-2 op05"><i class="fa fa-twitter"></i></a>
                                         <a href="" class=" ml-2 op05"><i class="fa fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone font-weight-bold"></i>
                                        <a href="#" data-toggle="modal" data-target="#assistanceModal" class=""> Get Instant Assistance</a>
                                       
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  -->

            <section class="menuBar">
                <div class="mwidth">
                    <b class="screen-overlay"></b>
                    <form onsubmit="event.preventDefault()" class="form-inline my-2 my-lg-0 mobsearch "> 
                        <input class="form-control mr-sm-2" type="text" placeholder="search Reports here..."> 
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                     </form>
                    <button data-trigger="#navbar_main" class="d-lg-none btn collapsebtn" type="button">  <i class="fa fa-bars"></i> </button>
                    <a class="navbar-brand offcanBrand" href="#">Logo</a>

                    <nav id="navbar_main" class="mobile-offcanvas navbar navbar-expand-md pr-0 pl-0">
                    <a class="navbar-brand hide-mob anchor" href="#">Logo</a>
                    <div class="offcanvas-header">  
                        <button class="btn btn-default bg-prime btn-close float-right"> X </button>
                        <h5 class="py-2 text-white">Main navbar</h5>
                    </div>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown position-static" id="superMenu"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
                            <div class="dropdown-menu rounded-0 bg-light w-100 border-0 m-0 p-0 shadow-sm" aria-labelledby="navbarDropdown">
                                <div class="container">
                                    <div class="row top-megamenu">
                                        <div class="col-md-6">
                                            <div>
                                                <ul>
                                                    <li><a href="#"> <i class="fa fa-plane"></i>&nbsp;Aerospace&nbsp;and&nbsp;Defence</a></li>
                                                    <li><a href="#"> <i class="fa fa-plane"></i>&nbsp;Chemical&nbsp;Materials</a></li>
                                                    <li><a href="#"> <i class="fa fa-plane"></i>&nbsp;Automobile&nbsp;Machinary</a></li>
                                                     <li><a href="#"> <i class="fa fa-plane"></i>&nbsp;Hospital&nbsp;and&nbsp;Healthcare</a></li>
                                                     <li><a href="#"> <i class="fa fa-plane"></i>&nbsp;Information&nbsp;and&nbsp;Communication</a></li>
                                                     <li><a href="#"> <i class="fa fa-plane"></i>&nbsp;Food&nbsp;and&nbsp;Beverages</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div>
                                                <ul>
                                                     <li><a href="#"> <i class="fa fa-plane"></i>&nbsp;Pharmacueticals</a></li>
                                                    <li><a href="#"> <i class="fa fa-plane"></i>&nbsp;Energy&nbsp;and&nbsp;Power</a></li>
                                                    <li><a href="#"> <i class="fa fa-plane"></i>&nbsp;Financial&nbsp;Services&nbsp;</a></li>
                                                     <li><a href="#"> <i class="fa fa-plane"></i>&nbsp;Hazardous&nbsp;Vehicals</a></li>
                                                     <li><a href="#"> <i class="fa fa-plane"></i>&nbsp;Mining&nbsp;Oil&nbsp;Market</a></li>
                                                     <li><a href="#"> <i class="fa fa-plane"></i>&nbsp;Artificial&nbsp;Intelligance</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown NavMenupapersLi"><a class="nav-link dropdown-toggle" id="papersDrop" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Papers</a>
                            <div class="dropdown-menu" aria-labelledby="papersDrop">
                            <ul class=" rounded-0 bg-light w-100 border-0 m-0 p-0 shadow-sm" >
                              <li><a class="dropdown-item" href="#"> <i class="fa fa-book"></i> Blog</a></li>  
                              <li><a class="dropdown-item" href="#"><i class="fa fa-book"></i> Press Release</a></li>
                              </ul>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#"> Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"> Case Studies  </a></li>
                        <li class="nav-item"><a class="nav-link" href="#"> About us  </a></li>
                        <li class="nav-item"><a class="nav-link" href="#"> Contact us</a></li>
                    </ul>
                    <form onsubmit="event.preventDefault()" class="form-inline my-2 my-lg-0 desksearch"> 
                        <input class="form-control mr-sm-2" type="text" placeholder="search Reports here..."> 
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                     </form>
                    </nav>
                  
    
                </div>
            </section>
            <!--  -->
        </header>
        <!--  -->
        <!-- BREADCRUMB -->
        <div class="mwidth pt-3">
        <nav aria-label="breadcrumb pl-0">
            <ol class="breadcrumb pl-0" style="background: transparent;">
            <li class="breadcrumb-item"><a href="#" class="prime-color">Home</a></li>
            <li class="breadcrumb-item"><a href="#" class="prime-color">Reports</a></li>
            <li class="breadcrumb-item active" aria-current="page">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, ullam.</li>
            </ol>
        </nav>
        </div>
        <!--  -->
        <!-- Blog Listing -->
      <hr>
        <section>
            <div class="mwidth pb-5">
           
                    <div class="paper-listing">
                             <!-- Pagination -->
                             <nav aria-label="..." class="listPagination  pb-3">
                                <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                                </ul>
                            </nav>
          <!--  -->
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <img class="card-img-top" src="./img/blog1.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h2 class="card-title f20 prime-color">Card title</h2>
                                      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum culpa dolor fugiat dolore quam voluptatem nam, </p>
                                        <p class="pb-1 mb-0 f11 op05"> Author : <span class="prime-color">By Admin</span></p>
                                        <p class="pt-0 mt-0 f11 op05"> Uploaded at : <span class="prime-color">12 Noon</span></p>
                                    </div>
                                    <div class=" pb-3 text-center">
                                      <a href="#" class="card-link prime-color">Read Full </a>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <img class="card-img-top" src="./img/blog1.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h2 class="card-title f20 prime-color">Card title</h2>
                                      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum culpa dolor fugiat dolore quam voluptatem nam, </p>
                                        <p class="pb-1 mb-0 f11 op05"> Author : <span class="prime-color">By Admin</span></p>
                                        <p class="pt-0 mt-0 f11 op05"> Uploaded at : <span class="prime-color">12 Noon</span></p>
                                    </div>
                                    <div class=" pb-3  text-center">
                                      <a href="#" class="card-link prime-color">Read Full </a>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <img class="card-img-top" src="./img/blog1.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h2 class="card-title f20 prime-color">Card title</h2>
                                      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum culpa dolor fugiat dolore quam voluptatem nam, </p>
                                        <p class="pb-1 mb-0 f11 op05"> Author : <span class="prime-color">By Admin</span></p>
                                        <p class="pt-0 mt-0 f11 op05"> Uploaded at : <span class="prime-color">12 Noon</span></p>
                                    </div>
                                    <div class=" pb-3  text-center">
                                      <a href="#" class="card-link prime-color">Read Full </a>
                                    </div>
                                  </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <img class="card-img-top" src="./img/blog1.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h2 class="card-title f20 prime-color">Card title</h2>
                                      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum culpa dolor fugiat dolore quam voluptatem nam, </p>
                                        <p class="pb-1 mb-0 f11 op05"> Author : <span class="prime-color">By Admin</span></p>
                                        <p class="pt-0 mt-0 f11 op05"> Uploaded at : <span class="prime-color">12 Noon</span></p>
                                    </div>
                                    <div class=" pb-3  text-center">
                                      <a href="#" class="card-link prime-color">Read Full </a>
                                    </div>
                                  </div>
                            </div><div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <img class="card-img-top" src="./img/blog1.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h2 class="card-title f20 prime-color">Card title</h2>
                                      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum culpa dolor fugiat dolore quam voluptatem nam, </p>
                                        <p class="pb-1 mb-0 f11 op05"> Author : <span class="prime-color">By Admin</span></p>
                                        <p class="pt-0 mt-0 f11 op05"> Uploaded at : <span class="prime-color">12 Noon</span></p>
                                    </div>
                                    <div class=" pb-3  text-center">
                                      <a href="#" class="card-link prime-color">Read Full </a>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <img class="card-img-top" src="./img/blog1.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h2 class="card-title f20 prime-color">Card title</h2>
                                      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum culpa dolor fugiat dolore quam voluptatem nam, </p>
                                        <p class="pb-1 mb-0 f11 op05"> Author : <span class="prime-color">By Admin</span></p>
                                        <p class="pt-0 mt-0 f11 op05"> Uploaded at : <span class="prime-color">12 Noon</span></p>
                                    </div>
                                    <div class=" pb-3  text-center">
                                      <a href="#" class="card-link prime-color">Read Full </a>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <img class="card-img-top" src="./img/blog1.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h2 class="card-title f20 prime-color">Card title</h2>
                                      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum culpa dolor fugiat dolore quam voluptatem nam, </p>
                                        <p class="pb-1 mb-0 f11 op05"> Author : <span class="prime-color">By Admin</span></p>
                                        <p class="pt-0 mt-0 f11 op05"> Uploaded at : <span class="prime-color">12 Noon</span></p>
                                    </div>
                                    <div class=" pb-3  text-center">
                                      <a href="#" class="card-link prime-color">Read Full </a>
                                    </div>
                                  </div>
                            </div>
                          
                        </div>
                    </div>
            </div>
        </section>
        <!--  -->
        <hr>
            <!-- Footer -->
            <section class="footer mt-5 pt-5">
                <div class="mwidth">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="f-call">
                              <p>  <i class="fa fa-phone pr-2"></i> <span>+91 986 5471 230</span>  <span>( +91 80 254 23569 )</span> </p>
                            </div>
                        </div>
                    </div>
                  <div class="row fmenusrow mt-4">
                      <div class="col-md-4">
                          <div>
                              <ul class="list-unstyled text-center">
                                  <li><a href="#">Home</a></li>
                                  <li><a href="#">Reports</a></li>
                                  <li><a href="#">Industries</a></li>
                                <li><a href="#">Papers</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Contact us</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-md-4">
                        <div>
                            <ul class="list-unstyled text-center">
                                <li><a href="#">Blogs</a></li>
                                <li><a href="#">Press Release</a></li>
                                <li><a href="#">Faq's</a></li>
                              <li><a href="#">Terms and Condition</a></li>
                              <li><a href="#">Privacy Policy</a></li>
                              <li><a href="#">Order Process</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                           <h3 class="text-center pb-3">Office Address</h3>
                           <p class="pt-0 pb-0"> <i class="fa fa-map-o pr-2"></i> Winterfell </p>
                           <p class="pt-0 pb-0">Opp. Great Wall , Seven Kingdoms.</p>
                           <p class="pt-0 pb-0">1000 A.D.</p>
                           <p> <i class="fa fa-envelope pr-2 "></i> getintouch@research.com</p>
                        </div>
                    </div>
                  </div>
                </div>
                <hr style="background-color: #fff;">
                <p class="text-center op05 f10"></p>
            </section>
            <!--  -->

    <!-- End content -->




    <!--  -->
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/slim.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/bootstrap-slider.min.js"></script>
    <script src="./js/owl.carousel.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>