.offcanvas-header{ display:none; }
.screen-overlay {
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition:opacity .2s linear, visibility .1s, width 1s ease-in;
}
.screen-overlay.show {
  transition:opacity .5s ease, width 0s;
  opacity:1;
  width:100%;
  visibility:visible;
}
	
@media all and (max-width:992px) { 

 .offcanvas-header{ display:block; }
 
 .mobile-offcanvas{
    visibility: hidden;
    transform:translateX(-100%);
    border-radius:0; 
    display:block;
    position: fixed;
    top: 0; left:0;
    height: 100%;
    z-index: 1200;
    width:80%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: visibility .2s ease-in-out, transform .2s ease-in-out;
  }

  .mobile-offcanvas.show{
    visibility: visible;
    transform: translateX(0);
  }
}

/* ----------------------- */
.f13{
  font-size: 13px;
}
.f14{
  font-size: 14px;
}
.f15{
  font-size: 15px;
}
.f16{
  font-size: 16px;
}
.f17{
  font-size: 17px;
}
.f18{
  font-size: 18px;
}
.f19{
  font-size: 19px;
}

.prime-color{
  color: #FF704D;
}
.second-color{
  /* color: #FF704D; */
}
.top-header{
   background: #c63d86;
}
.top-header .elements{
  height:50px;
}
.top-header .elements .parent{
  padding: 0px 15px;
  margin: 0 auto;
}
.top-header .elements .parent ul{
  padding-left: 0;
  margin-bottom: 0;
}
.top-header .elements .parent ul li{
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #e5e2e2;
  padding: 0 1.39rem;
  padding-left: 1.39rem;
  position: relative;
  line-height: 2.75rem;
}
.top-header .elements .parent ul li:last-child{
  float: inline-end;
}
.sup-nav{
  box-shadow: -2px 3px 4px -3px #f0dcdc;
}
.sup-nav ul{
 margin: 0 0 0 auto;
  padding: 0px 0px;
}
.sup-nav ul li a{
  color: #c63d86 !important;
  padding: 25px 30px !important;
 }
 .sup-nav ul li a:hover{
  background: #FF704D !important;
  color: #fff !important;
 }



.prime-bg{
  background: #F8F8F8;
}

.op05{
  opacity: .5;
}
.section{
    max-width: 1280px;
    margin: auto;
    padding: 0 15px;
}
a:hover{
    text-decoration: none;
}
.banner h1{
    font-size: 55px;
    font-weight: 700;
}
.section-head{
  padding: 30px 0 45px 0;
}
.buybtn{
    height: 40px;
    border: 2px solid #c63d86;
    line-height: 36px;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: #c63d86;
    min-width: 150px;
    /* padding: 6px 21px; */
    text-align: center;
    display: inline-block;
}
.buybtn:hover{

    transition: all .1s ease-in;
    color: #fff;

}
.prime-btn{
    height: 40px;
    border: 2px solid  #c63d86;
    line-height: 36px;
    font-size: 1rem;
    color:  #c63d86;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: transparent;
    min-width: 150px;
    /* padding: 6px 21px; */
    text-align: center;
    display: inline-block;
}
.prime-btn:hover{
    background:  #c63d86;
    transition: all .1s ease-in;
    color: #fff;
}
.rfeatures{
    background: #FF704D;
    padding: 40px 0;
    color: #fff;
}
.main-rfeatures .icon i{
  font-size: 30px;
}
.main-rfeatures .content {
  padding: 10px 0;
}
.main-rfeatures .content h2{
  font-size: 20px;
  font-weight: bold;
}
.product {
  padding: 15px 5px;
}
.product img{
  width: 300px;
  margin: 0 0 0 -60px;
}
.main-product{
  margin: 60px 0 0 0;
  padding: 10px 0;
}
.power-advantege {
  margin: 60px 0 0 0;
  padding: 0 0 60px 0;
}
.power-advantege .box{
  padding: 45px 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 2px 41px 1px rgb(247, 242, 242);
  transition: all .3s ease-in;
}
.power-advantege .box:hover{
  background-color: #FF704D;
 color: #fff !important;
  box-shadow: 0px 2px 41px 1px rgb(247, 242, 242);
}
.power-advantege .box i{
  font-size: 35px;
  color: #FF704D;
}
.power-advantege .box h3{
  padding: 18px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}
.img-box{
  box-shadow: 0px 2px 41px 1px rgb(247, 242, 242);
  transition: all .2s ease-in;
  border: 2px solid #fff;
}
.img-box:hover{
  border: 2px solid #FF704D;
}


.gallery-title
{
    font-size: 36px;
    color: #FF704D;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 15px;
    text-align: center;
    color: #FF704D;
    background: transparent;
   

}
.filter-button:hover
{
  font-size: 15px;
  text-align: center;
  color: #FF704D;
  background: rgb(206, 196, 196);
 

}
.btn-default:active .filter-button:active
{
    background-color: #FF704D;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
  box-shadow: 0px 2px 41px 1px rgb(247, 242, 242);
    margin-bottom: 30px;
}
.pfolioImage{

}
.packages .card ul{
  padding: 10px 0;
}
.packages .card ul li{
  font-size: 13px;
  opacity: .7;
  text-align: center;
  padding: 3px 0;
}
.special-prod{
  box-shadow: 0px 2px 41px 1px rgb(247, 242, 242);
}
.special-prod-descr{
  margin: 33px 0 0 -65px;
  padding: 50px 65px;
}
.special-prod-descr .first{
  border-bottom: 4px solid #e8e5e5;
}
.special-prod-descr .first h6{
  font-weight: bold;
  letter-spacing: 1px;
  opacity: .6;
}
.special-prod-descr .first p{
 opacity: .6;
}
.special-prod-descr .first p span{
  color: #FF704D;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}


.star-rating {
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0;
  text-align:center;
  width:5em;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#FF704D;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#FF704D;
}

.plusminus{
  width: 37%;
}
.buynowdiv{
  width: 63%;
}
.plusminus .input-number{
  height: 38px;
  text-align: center;
}








.faq-nav {
  flex-direction: column;
  margin: 0 0 32px;
  border-radius: 2px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}
.faq-nav .nav-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 13px 16px;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  color: #616161;
  transition: background-color 0.2s ease;
}
.faq-nav .nav-link:hover {
  background-color: #f6f6f6;
}
.faq-nav .nav-link.active {
  background-color: #f6f6f6;
  font-weight: 700;
  color: rgba(0, 0, 0, .87);
}
.faq-nav .nav-link:last-of-type {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: 0;
}
.faq-nav .nav-link i.mdi {
  margin-right: 5px;
  font-size: 18px;
  position: relative;
}
.tab-content {
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}
.tab-content .card {
  border-radius: 0;
}
.tab-content .card-header {
  padding: 15px 16px;
  border-radius: 0;
  background-color: #f6f6f6;
}
.tab-content .card-header h5 {
  margin: 0;
}
.tab-content .card-header h5 button {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  font-weight: 700;
  color: rgba(0, 0, 0, .87);
  text-align: left;
  white-space: normal;
}
.tab-content .card-header h5 button:hover, .tab-content .card-header h5 button:focus, .tab-content .card-header h5 button:active, .tab-content .card-header h5 button:hover:active {
  text-decoration: none;
}
.tab-content .card-body p {
  color: #616161;
}
.tab-content .card-body p:last-of-type {
  margin: 0;
}
.accordion > .card:not(:first-child) {
  border-top: 0;
}
.collapse.show .card-body {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}
.blogs .card {
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
  border: none;
  padding: 10px;
}
/* .blogs .card-img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 175px;
}
.blogs .card-title {
  margin-bottom: 0.3rem;
}
.blogs .cat {
  display: inline-block;
  margin-bottom: 1rem;
}
.blogs .fa-users {
  margin-left: 1rem;
}
.blogs .card-footer {
  font-size: 0.8rem;
} */

/* ------------------- */

.header_area {
  position: relative;
  z-index: 9;
  background: #ffffff;
  box-shadow: 0px 0px 7.28px 0.72px rgba(72, 72, 72, 0.08);
  -webkit-box-shadow: 0px 0px 7.28px 0.72px rgba(72, 72, 72, 0.08);
  -moz-box-shadow: 0px 0px 7.28px 0.72px rgba(72, 72, 72, 0.8);
}

.header_nav {
  max-height: 80px;
}

.header_logo .svg {
  width: 116px;
  padding: 35px 0 0;
}

.header_logo .svg .st1,
.header_logo .svg .st0 {
  fill: #f99a00;
  stroke: #f99a00;
}

#mobile-logo .svg {
  width: 90px;
}

#mobile-logo .svg .st1,
#mobile-logo .svg .st0 {
  fill: #f99a00;
  stroke: #f99a00;
}

.mobile_accor_logo .svg {
  width: 116px;
}

.mobile_accor_logo .svg .st1,
.mobile_accor_logo .svg .st0 {
  fill: #f99a00;
  stroke: #f99a00;
}

.top_toolbar {
  background: #363636;
  height: 2.5rem;
}

.toolbar_left ul {
  padding-left: 0;
  margin-bottom: 0;
}

.toolbar_left ul li {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  color: #e5e2e2;
  padding: 0 1.39rem;
  position: relative;
  line-height: 2.50rem;
}

.toolbar_left ul li:last-child {
  float: right;
  padding-right: 0;
}

.toolbar_left ul li span {
  color: #f99a00;
  font-size: 0.9rem;
  margin-right: 5px;
}

.toolbar_left ul li span.fa {
  margin-right: 0.28rem;
}

.toolbar_left ul li a {
  color: #e5e2e2;
  padding: 0;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.toolbar_left ul li a:hover {
  color: #f99a00;
}

.toolbar_left ul li:first-child {
  padding-left: 0;
}

.toolbar_left ul li:first-child:after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  width: 0.06rem;
  height: 0.84rem;
  background: #514e4e;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.submenuItems i {
  float: left;
  font-size: 9px;
  margin-top: 3px;
  padding-right: 6px;
}

.phone_number {
  width: 52%;
  float: left;
  text-align: left;
  line-height: 36px;
}

.phone_number span {
  color: #f99a00;
  font-size: 0.89rem;
  margin-right: 5px;
}

.phone_number a {
  color: #666;
  padding: 0;
  font-size: 0.89rem;
}

.header_nav.fixed {
  position: fixed;
  top: 0;
  -webkit-animation: headerFixedTop .35s;
  animation: headerFixedTop .35s;
  width: 100%;
  z-index: 9999;
  background: #fff;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
}

.hdr_btn_wrapper {
  padding: 20px 0;
}

@keyframes headerFixedTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header_logo a {
  padding: 0;
}

.main_menu {
  font-family: "Roboto", sans-serif;
  padding: 18px 0;
}

.main_menu > ul {
  margin-bottom: 0;
  position: relative;
}

.main_menu > ul > li {
  display: inline-block;
  position: relative;
}

.main_menu > ul > li:after {
  position: absolute;
  content: "";
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  bottom: 0px;
  height: 100%;
  opacity: 0;
  left: 0;
  height: 100%;
  background: #f99a00;
  z-index: -2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main_menu > ul > li > a {
  font-size: 1rem;
  text-transform: uppercase;
  color: #363636;
  font-weight: 500;
  border-radius: 0;
  line-height: 1rem;
  display: block;
  padding: 14px 28px;
}

.main_menu > ul > li > a.current_page_item {
  color: #f99a00;
}

.main_menu > ul > li > a:hover {
  color: #f99a00;
}

.Switcher__control {
  top: -1px;
  border-radius: 0;
  width: 40px;
  height: 40px;
  margin-left: -40px;
}

.Switcher__control i {
  color: #f99a00;
}

.Switcher {
  top: 142px;
}

.headroom--not-top .header_nav {
  height: 5rem;
}

.headroom--not-top .header_nav .main_menu {
  padding: 1.3rem 0 1.3rem;
}

.headroom--not-top .header_nav .header_logo .svg {
  padding: 23px 0 0;
}

.headroom--not-top .header_nav .btn_wrapper {
  margin: 24px 0;
  height: 2.2rem;
}

.headroom--not-top .header_nav .btn_wrapper .btn_one {
  line-height: 1.2rem;
}

.headroom--pinned {
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  position: fixed;
  -webkit-animation-name: headerSlideDown;
  animation-name: headerSlideDown;
}

.header-area {
  background: #fff;
}

#header {
  z-index: 999;
  position: fixed;
  width: 100%;
  left: 0;
}

.headroom--pinned {
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  position: fixed;
  -webkit-animation-name: headerSlideDown;
  animation-name: headerSlideDown;
}

.headroom {
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  -o-transition: transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  position: fixed;
}













